<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= disqus_init %>

<p id="notice"><%= notice %></p>


<%= image_tag @poll.image.url(:thumb), class:"test" %>

<button class="hideee">
<%= link_to like_poll_path(@poll), method: :put do %>
  <%= @poll.positive %>
  <%= @poll.get_upvotes.size %>
<% end %>
</button>
<button class="hideee">
<%= link_to dislike_poll_path(@poll), method: :put do %>
  <%= @poll.negative %>
  <%= @poll.get_downvotes.size %>
</button>

<% end %>

 <%= pie_chart [[@poll.positive, @poll.get_upvotes.size], [@poll.negative, @poll.get_downvotes.size]] %> 

 <%= social_share_button_tag(@poll.title) %>

<%- disqus_thread @poll.id %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
